@import "./components/desktop.css";
@import "./components/taskbar.css";
@import "./components/winbox.css";

@font-face {
  font-family: "pixel";
  src: url("../assets/font.ttf");
}

* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "pixel";
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #a9cbfd;
  text-decoration: none;
}
a:hover {
  color: rgb(89, 146, 233);
}

.loader-wrap {
  background-image: url(../assets/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorbox {
  background-color: #180000;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errtxt {
  max-width: 685px;
  text-align: justify;
}

.unsupported {
  display: none;
}