<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mirasakikun - twitter</title>
</head>

<body>
    <center>
        <div style="
          display: grid;
          justify-content: center;
          align-items: center;
          min-height: calc(100vh - 10px);
        ">
            <a class="twitter-timeline" data-width="500" data-dnt="true" data-theme="light"
                href="https://twitter.com/mirasakikun?ref_src=twsrc%5Etfw">mirasakikun
            </a>
        </div>
    </center>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <style>
        @font-face {
            font-family: "pixel";
            src: url("../assets/font.ttf");
        }

        body {
            background: white;
            margin: 5px;
        }

        a {
            font-family: "pixel";
            text-decoration: none;
            margin: 0 auto;
            color: black;
            font-size: 16px;
        }
    </style>
</body>

</html>