.desktop {
  display: flex;
  background: url("../../assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icons-left,
.icons-right {
  transition: 0.3s;
  height: calc(100vh - 35px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin: 0 50px 0 50px;
}
.icons-right {
  margin-top: 5px;
  margin-left: 0;
}
.icon {
  transition: 0.1s;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.icon:hover {
  background-color: rgba(255, 94, 0, 0.3);
}
